<h2>Fill Out Your Profile</h2>
<h3>TODO: Style this shit, add proper validations</h3>
<%= semantic_form_for @user do |f| %>
  <%= f.inputs :title, :website, :copyright, :subtitle, :summary, :description, :username, :category, :explicit %>
  <%= f.actions :submit, :cancel %>
<% end %>
