<h3>Fill Out Your Profile</h3>
<%= semantic_form_for @user do |f| %>
  <%= f.inputs :title, :website, :copyright, :subtitle, :summary, :description, :username, :category, :explicit, :image_link %>
  <%= f.actions :submit, :cancel %>
<% end %>
