<h3>TODO: add proper validations</h3>
<%= semantic_form_for @episode do |f| %>
  <%= f.inputs :title, :subtitle, :summary, :audio_link, :image_link, :length, :duration %>
  <%= f.actions :submit, :cancel %>
<% end %>
