<h2>Create new episode</h2>
<h3>TODO: Style this shit, add proper validations</h3>
<%= semantic_form_for @episode do |f| %>
  <%= f.inputs :title, :subtitle, :summary, :audio_link %>
  <%= f.actions :submit, :cancel %>
<% end %>
