<p>Welcome To Podcarp! Yes, this is actually a free service to host podcasts. Really. Okay, if your podcast becomes super successful it might not be able to handle all your downloads. Good luck with that though.</p>

<p><%= link_to('Log In', new_user_session_path) %></p>
<p><%= link_to('Sign Up', new_user_registration_path) %></p>